body {
    background-color: brown;
    margin: 0;
}

#typewriter {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}